<?xml version="1.0" encoding="UTF-8"?>
<config>
    <simulation-parameters>
        <postFaultSimulationStopInstant>150</postFaultSimulationStopInstant>
        <faultEventInstant>70</faultEventInstant>
        <branchFaultShortCircuitDuration>0.3</branchFaultShortCircuitDuration>
        <generatorFaultShortCircuitDuration>0.2</generatorFaultShortCircuitDuration>
        <preFaultSimulationStopInstant>50</preFaultSimulationStopInstant>
    </simulation-parameters>
</config>