# Maven projects
target/

# IntelliJ
/.idea
*.iml

# Compilation settings
install.cfg

# Eclipse projects
.apt_generated
.apt_generated_tests
.classpath
.factorypath
.project
.factorypath
.checkstyle
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.apt.core.prefs
org.eclipse.jdt.groovy.core.prefs
org.eclipse.jdt.apt.core.prefs
org.sonarlint.eclipse.core.prefs

# Log files
powsybl.log

# Maven wrapper jar
.mvn/wrapper/*.jar

# Generated readthedocs pages
build-docs/
