# Maven projects
/action/target/
/action/action-dsl/target/
/action/action-dsl-spi/target/
/action/action-simulator/target/
/action/action-util/target/
/afs/target/
/afs/afs-core/target/
/afs/afs-ext-base/target/
/afs/afs-local/target/
/afs/afs-mapdb/target/
/afs/afs-mapdb-storage/target/
/afs/afs-network/afs-network-client/target/
/afs/afs-network/afs-network-server/target/
/afs/afs-network/target/
/afs/afs-storage-api/target/
/afs/afs-ws/afs-ws-client/target/
/afs/afs-ws/afs-ws-client-utils/target/
/afs/afs-ws/afs-ws-server/target/
/afs/afs-ws/afs-ws-server-utils/target/
/afs/afs-ws/afs-ws-storage/target/
/afs/afs-ws/afs-ws-utils/target/
/afs/afs-ws/target/
/ampl-converter/target/
/cgmes/target
/cgmes/cgmes-conformity/target/
/cgmes/cgmes-conversion/target/
/cgmes/cgmes-model/target/
/cgmes/cgmes-model-alternatives/target/
/cim-anonymiser/target/
/commons/target/
/computation-local/target/
/computation/target/
/config-classic/target/
/config-test/target/
/contingency/target/
/contingency/contingency-api/target/
/contingency/contingency-dsl/target/
/distribution-core/target/
/dsl/target/
/entsoe-util/target/
/iidm/target/
/iidm/iidm-api/target
/iidm/iidm-comparator/target/
/iidm/iidm-converter-api/target/
/iidm/iidm-extensions/target/
/iidm/iidm-impl/target/
/iidm/iidm-reducer/target/
/iidm/iidm-test/target/
/iidm/iidm-util/target/
/iidm/iidm-xml-converter/target/
/itools-packager/target/
/loadflow/loadflow-api/target/
/loadflow/loadflow-results-completion/target/
/loadflow/loadflow-validation/target/
/loadflow/target/
/math/target/
/security-analysis/target/
/security-analysis/security-analysis-afs/target/
/security-analysis/security-analysis-afs-local/target/
/security-analysis/security-analysis-api/target/
/sensitivity-api/target/
/simulation-api/target/
/scripting/target/
/target
/time-series/target/
/time-series/time-series-api/target/
/tools/target/
/triple-store/target/
/triple-store/triple-store-api/target/
/triple-store/triple-store-impl-blazegraph/target/
/triple-store/triple-store-impl-jena/target/
/triple-store/triple-store-impl-rdf4j/target/
/triple-store/triple-store-test/target/
/ucte/ucte-converter/target/
/ucte/ucte-network/target/
/ucte/target/

# IntelliJ
/.idea
*.iml

# Compilation settings
install.cfg

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs

# Log files
powsybl.log

# others
*.checkstyle
*.jpg
*.ucls
*.xml
*/.factorypath
*/.settingsaction/action-dsl-spi/.factorypath
action/action-dsl-spi/.gitignore
action/action-dsl-spi/.settings/org.eclipse.jdt.apt.core.prefs
action/action-dsl/.factorypath
action/action-dsl/.gitignore
action/action-dsl/.settings/org.eclipse.jdt.apt.core.prefs
action/action-simulator/.factorypath
action/action-simulator/.gitignore
action/action-simulator/.settings/org.eclipse.jdt.apt.core.prefs
action/action-util/.factorypath
action/action-util/.gitignore
action/action-util/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-core/.factorypath
afs/afs-core/.gitignore
afs/afs-core/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-ext-base/.factorypath
afs/afs-ext-base/.gitignore
afs/afs-ext-base/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-local/.factorypath
afs/afs-local/.gitignore
afs/afs-local/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-mapdb-storage/.factorypath
afs/afs-mapdb-storage/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-mapdb/.factorypath
afs/afs-mapdb/.gitignore
afs/afs-mapdb/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-network/afs-network-client/.factorypath
afs/afs-network/afs-network-client/.gitignore
afs/afs-network/afs-network-client/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-network/afs-network-server/.factorypath
afs/afs-network/afs-network-server/.gitignore
afs/afs-network/afs-network-server/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-storage-api/.factorypath
afs/afs-storage-api/.gitignore
afs/afs-storage-api/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-ws/afs-ws-client-utils/.factorypath
afs/afs-ws/afs-ws-client-utils/.gitignore
afs/afs-ws/afs-ws-client-utils/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-ws/afs-ws-client/.factorypath
afs/afs-ws/afs-ws-client/.gitignore
afs/afs-ws/afs-ws-client/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-ws/afs-ws-server-utils/.factorypath
afs/afs-ws/afs-ws-server-utils/.gitignore
afs/afs-ws/afs-ws-server-utils/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-ws/afs-ws-server/.factorypath
afs/afs-ws/afs-ws-server/.gitignore
afs/afs-ws/afs-ws-server/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-ws/afs-ws-storage/.factorypath
afs/afs-ws/afs-ws-storage/.gitignore
afs/afs-ws/afs-ws-storage/.settings/org.eclipse.jdt.apt.core.prefs
afs/afs-ws/afs-ws-utils/.factorypath
afs/afs-ws/afs-ws-utils/.gitignore
afs/afs-ws/afs-ws-utils/.settings/org.eclipse.jdt.apt.core.prefs
ampl-converter/.gitignore
cgmes/cgmes-conformity/.settings/org.eclipse.jdt.apt.core.prefs
cgmes/cgmes-conversion/.factorypath
cgmes/cgmes-conversion/.gitignore
cgmes/cgmes-conversion/.settings/org.eclipse.jdt.apt.core.prefs
cgmes/cgmes-conversion/.temp-CgmesUpdaterTester-classpath-arg-1571391474596.txt
cgmes/cgmes-conversion/.temp-CgmesUpdaterTester-classpath-arg-1571664185473.txt
cgmes/cgmes-model-alternatives/.factorypath
cgmes/cgmes-model-alternatives/.gitignore
cgmes/cgmes-model-alternatives/.settings/org.eclipse.jdt.apt.core.prefs
cgmes/cgmes-model/.factorypath
cgmes/cgmes-model/.gitignore
cgmes/cgmes-model/.settings/org.eclipse.jdt.apt.core.prefs
cim-anonymiser/.gitignore
computation-local/.gitignore
computation/.gitignore
config-classic/.gitignore
contingency/contingency-api/.factorypath
contingency/contingency-api/.gitignore
contingency/contingency-api/.settings/org.eclipse.jdt.apt.core.prefs
contingency/contingency-dsl/.factorypath
contingency/contingency-dsl/.gitignore
contingency/contingency-dsl/.settings/org.eclipse.jdt.apt.core.prefs
dsl/.gitignore
entsoe-util/.gitignore
iidm/iidm-api/.factorypath
iidm/iidm-api/.gitignore
iidm/iidm-api/.settings/org.eclipse.jdt.apt.core.prefs
iidm/iidm-converter-api/.factorypath
iidm/iidm-converter-api/.gitignore
iidm/iidm-converter-api/.settings/org.eclipse.jdt.apt.core.prefs
iidm/iidm-extensions/.factorypath
iidm/iidm-extensions/.settings/org.eclipse.jdt.apt.core.prefs
iidm/iidm-impl/.factorypath
iidm/iidm-impl/.gitignore
iidm/iidm-impl/.settings/org.eclipse.jdt.apt.core.prefs
iidm/iidm-reducer/.factorypath
iidm/iidm-reducer/.gitignore
iidm/iidm-reducer/.settings/org.eclipse.jdt.apt.core.prefs
iidm/iidm-test/.factorypath
iidm/iidm-test/.gitignore
iidm/iidm-test/.settings/org.eclipse.jdt.apt.core.prefs
iidm/iidm-util/.factorypath
iidm/iidm-util/.gitignore
iidm/iidm-util/.settings/org.eclipse.jdt.apt.core.prefs
iidm/iidm-xml-converter/.factorypath
iidm/iidm-xml-converter/.gitignore
iidm/iidm-xml-converter/.settings/org.eclipse.jdt.apt.core.prefs
itools-packager/.gitignore
loadflow/loadflow-api/.factorypath
loadflow/loadflow-api/.gitignore
loadflow/loadflow-api/.settings/org.eclipse.jdt.apt.core.prefs
loadflow/loadflow-results-completion/.factorypath
loadflow/loadflow-results-completion/.gitignore
loadflow/loadflow-results-completion/.settings/org.eclipse.jdt.apt.core.prefs
loadflow/loadflow-validation/.factorypath
loadflow/loadflow-validation/.gitignore
loadflow/loadflow-validation/.settings/org.eclipse.jdt.apt.core.prefs
math/.gitignore
scripting/.gitignore
security-analysis/security-analysis-afs-local/.factorypath
security-analysis/security-analysis-afs-local/.gitignore
security-analysis/security-analysis-afs-local/.settings/org.eclipse.jdt.apt.core.prefs
security-analysis/security-analysis-afs/.factorypath
security-analysis/security-analysis-afs/.gitignore
security-analysis/security-analysis-afs/.settings/org.eclipse.jdt.apt.core.prefs
security-analysis/security-analysis-api/.factorypath
security-analysis/security-analysis-api/.gitignore
security-analysis/security-analysis-api/.settings/org.eclipse.jdt.apt.core.prefs
sensitivity-api/.gitignore
simulation-api/.gitignore
time-series/time-series-api/.factorypath
time-series/time-series-api/.gitignore
time-series/time-series-api/.settings/org.eclipse.jdt.apt.core.prefs
tools/.gitignore
triple-store/triple-store-api/.factorypath
triple-store/triple-store-api/.gitignore
triple-store/triple-store-api/.settings/org.eclipse.jdt.apt.core.prefs
triple-store/triple-store-impl-blazegraph/.factorypath
triple-store/triple-store-impl-blazegraph/.gitignore
triple-store/triple-store-impl-blazegraph/.settings/org.eclipse.jdt.apt.core.prefs
triple-store/triple-store-impl-jena/.factorypath
triple-store/triple-store-impl-jena/.gitignore
triple-store/triple-store-impl-jena/.settings/org.eclipse.jdt.apt.core.prefs
triple-store/triple-store-impl-rdf4j/.factorypath
triple-store/triple-store-impl-rdf4j/.gitignore
triple-store/triple-store-impl-rdf4j/.settings/org.eclipse.jdt.apt.core.prefs
triple-store/triple-store-test/.gitignore
triple-store/triple-store-test/.settings/org.eclipse.jdt.apt.core.prefs
ucte/ucte-converter/.factorypath
ucte/ucte-converter/.gitignore
ucte/ucte-converter/.settings/org.eclipse.jdt.apt.core.prefs
ucte/ucte-network/.factorypath
ucte/ucte-network/.gitignore
ucte/ucte-network/.settings/org.eclipse.jdt.apt.core.prefs
action/action-dsl-spi/.factorypath
ampl-converter/.settings/org.eclipse.jdt.apt.core.prefs
cim-anonymiser/.settings/org.eclipse.jdt.apt.core.prefs
commons/.settings/org.eclipse.jdt.apt.core.prefs
computation-local/.settings/org.eclipse.jdt.apt.core.prefs
computation/.settings/org.eclipse.jdt.apt.core.prefs
config-classic/.settings/org.eclipse.jdt.apt.core.prefs
config-test/.settings/org.eclipse.jdt.apt.core.prefs
dsl/.settings/org.eclipse.jdt.apt.core.prefs
entsoe-util/.settings/org.eclipse.jdt.apt.core.prefs
itools-packager/.settings/org.eclipse.jdt.apt.core.prefs
math/.settings/org.eclipse.jdt.apt.core.prefs
scripting/.settings/org.eclipse.jdt.apt.core.prefs
sensitivity-api/.settings/org.eclipse.jdt.apt.core.prefs
simulation-api/.settings/org.eclipse.jdt.apt.core.prefs
tools/.settings/org.eclipse.jdt.apt.core.prefs
