<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">

    <module name="FileTabCharacter"/>

    <module name="NewlineAtEndOfFile"/>

    <module name="TreeWalker">
        <module name="AbbreviationAsWordInName"/>
        <module name="AbstractClassName"/>
        <module name="ConstantName"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalImport"/>
        <module name="Indentation"/>
        <module name="LeftCurly"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="NeedBraces"/>
        <module name="ParameterName"/>
        <module name="RedundantImport"/>
        <module name="RightCurly"/>
        <module name="TypeName"/>
        <module name="UnusedImports"/>
    </module>
</module>
