<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="cim1" level="OFF" />
    <logger name="org.xnio" level="WARN" />
    <logger name="org.jboss" level="ERROR" />
    <logger name="org.jboss.naming.remote.protocol.v1.RemoteNamingStoreV1" level="FATAL" />
    <logger name="eu.itesla_project.matlab" level="DEBUG" />
    <logger name="eu.itesla_project.helmflow.util" level="OFF" />
    <logger name="com.gridquant.helm.analysis.lf.core" level="OFF" />
    <logger name="eu.itesla_project.modelica_export.ModelicaExport" level="ERROR" />
    <logger name="eu.itesla_project.modelica_export.records" level="ERROR" />


    <logger name="ch.qos.logback.classic" level="ERROR" />

    <!-- logger name="eu.itesla_project.iidm.ddb" level="WARN" /-->
    <!-- logger name="eu.itesla_project.computation" level="TRACE" /-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>    
</configuration>


