<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2016, All partners of the iTesla project (http://www.itesla-project.eu/consortium)
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<!--Configuration of the offline process log-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="cim1" level="OFF" />
    <logger name="eu.itesla_project.offline.AbstractOfflineWorkflow" level="TRACE" />
    <logger name="eu.itesla_project.offline.OfflineWorkflowImpl" level="TRACE" />
    <logger name="eu.itesla_project.histodb.client.impl.HistoDbHttpClientImpl" level="DEBUG" />
    <logger name="eu.itesla_project.eurostag.EurostagImpactAnalysis" level="TRACE" />
    <logger name="com.rte_france.itesla.optim.OptimizerExecutor" level="DEBUG" />
    <logger name="eu.itesla_project.modules.topo.TopologyHistory" level="DEBUG" />
    <logger name="eu.itesla_project.iidm.import_.JavaScriptPostProcessor" level="DEBUG" />
    <logger name="eu.itesla_project.iidm.ddb.eurostag.EurostagStepUpTransformerInserter" level="DEBUG" />
    <logger name="eu.itesla_project.ucte.network" level="ERROR" />
    <logger name="com.rte_france.itesla.hades2.Hades2Executor" level="DEBUG" />
    <logger name="eu.itesla_project.iidm.ddb.eurostag_imp_exp" level="ERROR" />
    <logger name="org.nocrala.tools.texttablefmt" level="ERROR" />
    <logger name="eu.itesla_project.iidm.network.impl.CurrentLimitsAdderImpl" level="ERROR" />
    <logger name="com.rte_france.itesla.iidm.export.adn.ADNConverter" level="ERROR" />   
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
