<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2016, All partners of the iTesla project (http://www.itesla-project.eu/consortium)
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<!--Configuration of the online process log-->
<configuration>
    <!--appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${java.io.tmpdir}/itesla_wp5.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="cim1" level="OFF" />
    <logger name="org.xnio" level="WARN" />
    <logger name="org.jboss" level="ERROR" />
    <logger name="org.jboss.naming.remote.protocol.v1.RemoteNamingStoreV1" level="FATAL" />
    <logger name="eu.itesla_project.iidm.ddb.eurostag_imp_exp" level="INFO" />
    <logger name="eu.itesla_project.iidm.eurostag.export" level="WARN" />
    <logger name="eu.itesla_project.iidm.import_" level="DEBUG" />
    <logger name="eu.itesla_project.iidm" level="DEBUG" />
    <logger name="eu.itesla_project.iidm.import_.cim1.ModelConverter" level="INFO" />
    <logger name="eu.itesla_project.iidm.ddb.eurostag" level="INFO" />
    <logger name="eu.itesla_project.mcla" level="INFO" />
    <logger name="eu.itesla_project.mcla.montecarlo.MontecarloSamplerImpl" level="DEBUG" />
    <logger name="eu.itesla_project.offline" level="INFO" />
    <logger name="eu.itesla_project.helmflow" level="ERROR" />
    <logger name="com.gridquant.helm" level="ERROR" />
    <logger name="org.apache" level="ERROR" />
    <logger name="org.nocrala.tools.texttablefmt" level="ERROR" />
    <logger name="eu.itesla_project.iidm.network.impl.CurrentLimitsAdderImpl" level="ERROR" />
    <logger name="com.rte_france.itesla.iidm.export.adn.ADNConverter" level="ERROR" />
    <root level="DEBUG">
        <!--appender-ref ref="FILE" /-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
