<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
<!--         <file>C:/Users/machadosc/development/workspaceItesla/iTesla/platform/modelica-export/log/ModelicaExport.log</file> -->
		<file>ModelicaExport.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.xnio" level="WARN" />
    <logger name="org.jboss" level="ERROR" />
    <logger name="org.jboss.naming.remote.protocol.v1.RemoteNamingStoreV1" level="OFF" />
    <logger name="eu.itesla_project.modelica_export" level="ERROR" />
    
    <root level="ERROR">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="FILE" />
    </root>    
</configuration>