#macro(compgenopt $o)
#if($o.getType().getKind() == "FILE")
-f##
#elseif($o.getType().getKind() == "DIRECTORY")
-d##
#elseif($o.getType().getKind() == "HOSTNAME")
-A hostname##
#elseif($o.getType().getKind() == "ENUMERATION")
-W "#foreach($e in $util.getEnumOptionTypeValues($o))$e #end"##
#end
#end
#macro(completionFunction $functionName $options)
_$functionName() {
    local cur=${esc.d}{COMP_WORDS[COMP_CWORD]}
    local prev=${esc.d}{COMP_WORDS[COMP_CWORD-1]}
    case "$prev" in
#foreach($o in $options)
#if($o.hasArg())
        $optionPrefix$o.getName())
            COMPREPLY=($(compgen #compgenopt($o) -- $cur))
            return 0
            ;;
#end
#end
        *)
            COMPREPLY=($(compgen -W "#foreach($o in $options)$optionPrefix$o.getName() #end" -- $cur))
            return 0
            ;;
    esac
}
#end
