<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2017, RTE (http://www.rte-france.com)
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%-5p %d{HH:mm:ss.SSS} %-20C{1} | %m%n</pattern> -->
            <pattern>%-5p %-20C{1} | %m%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.bigdata" level="error"/>
    <!-- To see the query text in the log, set level to debug -->
    <logger name="com.powsybl.triplestore.TripleStore" level="error"/>
    <!-- To see how much time each query costs, set level to debug -->
    <logger name="com.powsybl.cgmes.triplestore.CgmesModelTripleStore" level="error"/>
    <!-- To watch the properties of every object converted, level to debug -->
    <logger name="com.powsybl.cgmes.conversion.Conversion" level="error"/>
    <!-- To watch always the test Hvdc configurations after the topological analysis -->
    <logger name="com.powsybl.cgmes.conversion.elements.hvdc.CgmesDcConversion" level="error"/>
    <logger name="com.powsybl.cgmes.conversion.elements.hvdc.Adjacency" level="error"/>
    <logger name="com.powsybl.cgmes.conversion.elements.hvdc.TPnodeEquipments" level="error"/>
    <logger name="com.powsybl.cgmes.conversion.elements.hvdc.Islands" level="error"/>
    <logger name="com.powsybl.cgmes.conversion.elements.hvdc.IslandsEnds" level="error"/>
    <logger name="com.powsybl.cgmes.conversion.elements.hvdc.IslandEndHvdc" level="error"/>
    <logger name="com.powsybl.cgmes.conversion.elements.hvdc.Hvdc" level="error"/>
</configuration>
